# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*

!.gitignore
!lutron_integration_report.txt
!lutron_integration_report_picos.txt
!.old


### You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!automation
!input_booleans
!ios
!scenes
!scripts
!sensors


### Packages

!packages
!shades
!fans


### Themes

!themes
!bluenight
!amoled
!amoled_black
!amoled_blue


### Lovelace

!lovelace
!cards_shared
!sonos
!views
!cards


## Views

!security

!house
!ambient_sounds
!lighting
!speaker_groups
!sprinklers

!living_room
!tv

!bedroom
!bedroom_tv

!bed3

!theater

!rack



# Ignore folders.
.storage
.cloud
www
deps
tts

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
#ip_bans.yaml
secrets.yaml
known_devices.yaml
